.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: salmon !important;
}

.button_mt-4 {
  padding-left: 15%;
}

.h1_home {
  color: white;
  font-size: 40px;
}

.p_home {
  color: white;
  font-size: 20px;
}

.btn_home {
  height: 50px;
  width: 200px;
  font-size: 20px !important;
}

.btn_home:hover {
  color: aqua;
  transition: 0.5s;
  height: 48px;
  width: 195px;
}
